<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:camel="http://camel.apache.org/schema/spring"
	xmlns:osgi="http://www.springframework.org/schema/osgi" xmlns:cxf="http://camel.apache.org/schema/cxf"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/osgi http://www.springframework.org/schema/osgi/spring-osgi.xsd http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd http://camel.apache.org/schema/cxf http://camel.apache.org/schema/cxf/camel-cxf-2.8.3.xsd">

<bean id="routeBuilder" class="bg.tusofia.cst.ds.camel.route.SimpleRouteBuilder" />
	<bean id="processor" class="bg.tusofia.cst.ds.camel.processor.GetLectureProcessor" />

	<camelContext xmlns="http://camel.apache.org/schema/spring">
         <routeBuilder ref="routeBuilder" />
	</camelContext>
</beans>